 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-1 .u-image-1 {
  width: 629px;
  height: 467px;
  margin: 101px auto 0 198px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0 303px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 30px 232px 0 198px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 39px auto 0 369px;
  padding: 13px 49px 13px 48px;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 39px auto 60px 437px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 793px;
    height: 468px;
  }

  .u-section-1 .u-text-2 {
    width: 710px;
    margin-left: 98px;
    margin-right: 132px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-left: 169px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-image-1 {
    width: 669px;
    height: 395px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
    margin-left: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 319px;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 85px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: 33px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 45px;
    margin-left: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-image-1 {
    width: 332px;
    height: 196px;
    margin-top: 101px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: 30px;
  }
}